.texto-animado {
  padding-bottom: 10px;
  font-size: 2.3rem;
  text-align: center;
}

.texto-animado .effect-text {
  position: relative;
}

.texto-animado .effect-text::before {
  content: "";
  color: rgb(199, 129, 0);
  animation: palavras 40s infinite;
}

.texto-animado .effect-text::after {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid rgb(199, 129, 0);
  right: -6px;
  animation: cursor 0.8s infinite, escrita 40s steps(35) infinite;
  width: calc(100% + 12px);
  background-color: #090013;
}

@keyframes escrita {
    10%, 15%, 30%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 12px);
    }
}

@keyframes cursor {
  0% {
    border-left: 2px solid #090013;
  }
}

@keyframes palavras {
  0%,
  100% {
    content: "Transformando problemas em soluções";
  }
}

@media (max-width: 768px) {
  .texto-animado .effect-text::after {
  content: "";
  position: relative;
  height: 0;
  border-left: none;
  right: auto;
  animation: none;
  width: 0;
  background-color: 0;
  }
}